---
- name: Install common packages
  ansible.builtin.package:
    name:
      - bzip2
      - gcc
      - make
      - perl
      - curl
      - wget
    state: present

- name: Install dependencies for VirtualBox Guest Additions (RedHat-family)
  ansible.builtin.dnf:
    name:
      - kernel-devel
      - kernel-headers
    state: latest
  when: ansible_facts['os_family'] | lower == "redhat"

- name: Mount VBoxGuestAdditions.iso
  ansible.posix.mount:
    path: /mnt
    src: /home/vagrant/VBoxGuestAdditions.iso
    fstype: iso9660
    opts: ro,loop
    state: mounted

- name: Install VBoxGuestAdditions.iso
  ansible.builtin.command: sh /mnt/VBoxLinuxAdditions.run

- name: Umount VBoxGuestAdditions.iso
  ansible.posix.mount:
    path: /mnt
    state: absent

- name: Delete VBoxGuestAdditions.iso
  ansible.builtin.file:
    path: /home/vagrant/VBoxGuestAdditions.iso
    state: absent
